parameters:
    level: 5
    paths:
        - .
    excludePaths:
        - vendor
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    # PHP version
    phpVersion: 80000
    # Ignore errors for standard PHP built-in functions and constants
    # These are false positives - all these functions/constants exist in PHP
    ignoreErrors:
        # All undefined function errors (these are PHP built-ins)
        - '#Undefined function \'[^\']+\'\.#'
        # All undefined constant errors (these are PHP built-ins)
        - '#Undefined constant \'[^\']+\'\.#'
        # Superglobals
        - '#Undefined variable \$_POST\.#'
        - '#Undefined variable \$_SERVER\.#'
        - '#Undefined variable \$_GET\.#'
        - '#Undefined variable \$_REQUEST\.#'
        - '#Undefined variable \$_FILES\.#'
        - '#Undefined variable \$_COOKIE\.#'
        - '#Undefined variable \$_SESSION\.#'
        - '#Undefined variable \$GLOBALS\.#'
        # Undefined variables from preg_match_all (these are created by the function)
        - '#Undefined variable \'\$searchMatches\'\.#'

